<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>Sample Application</title>

	</head>
	<body>
		<h1>コロナワクチン副反応　体温推移</h1>
		<form method="post" action="/new">
		<p>Time<input type="datetime-local" name="time" placeholder="add"></p>
		<p>Temperature<input type="number" name="temp" placeholder="add"></p>

		<p><input type="submit" value="Send"></p>
		</form>

		<ul>
			{{ range .measurement }}
			<li>Time：{{ .Time }}, 
				<ul>
				<li>
				Temperature：{{ .Temperature }}
				</li>
				</ul>
				<label><a href="/detail/{{.ID}}">編集</a></label>
				<label><a href="/delete_check/{{.ID}}">削除</a></label>
			</li>
			<br>
			{{end}}
		</ul>
	</body>
</html>



