<!DOCTYPE html>
	<html lang="ja">
		<head>
			<meta charset="UTF-8">
			<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

			<title>コロナワクチン副反応　体温推移</title>

		</head>
		<body>
			<div class="container-md">
				<div class="row m-5">
					<h1>コロナワクチン副反応　体温推移</h1>
				</div>
			<div class="row m-5">
				<form method="post" action="/new">
					<p>Time<input type="datetime-local" class="form-control" name="time" placeholder="add"></input></p>
					<p>Temperature<input type="number" class="form-control" step="0.1" name="temp" placeholder="add"></input></p>

					<p><input type="submit" value="Send" class="btn btn-primary mb-3"></input></p>
				</form>
			</div>

			<div class="row m-3">
				<canvas id="myLineChart" class="img-fluid"></canvas>
			</div>
			

			<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
			<script> var data = [] </script>


			<div class="row m-5">
			<ul>
				{{ range .measurement }}
				<li class="list-group-item list-group-item-action"><h4>Time：{{ .Time }}</h4>
					<ul>
						<li>
							Temperature：{{ .Temperature }}
						</li>
					</ul>
					<label><a href="/detail/{{.ID}}">編集</a></label>
					<label><a href="/delete_check/{{.ID}}">削除</a></label>
				</li>
				<br></br>
				<script>
					x = {{ .Time }} 
					y = {{ .Temperature }}
					data.push({x:x, y:y})
					console.log(data)
				</script>
				{{ end }}
			</ul>
			</div>
			<script>
				var ctx = document.getElementById("myLineChart");
				var options = {
						scales: {
								x:{
									type: 'time',
									time: {
										unit: 'minute'
									}
								}
							}
					}
				var myLineChart = new Chart(ctx, {
									type: 'line',
									data: {
										datasets:[{
												label: 'tmemp',
												data: data
											}]
										},

									options: {
										scales: {
											xAxes: [{
												type: 'time',
												time: {
													unit: 'minute'
												}
											}]
										}
									}
								});
			</script>
		</body>
	</html>

